.about_title {
    font-family: 'Martel';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #252B42;
}

.about_desc {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #737373;
}

.about_subtitle {
    font-family: 'Martel';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #252B42;
}

.about_text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
}