.advices
    padding-top: 99px
    padding-bottom: 160px
    margin-bottom: 30px
    background-color: #F3F3F3
    
.advices_title 
    padding: 0 65px
    margin-bottom: 10px

    font-family: 'Martel'
    font-weight: 700
    font-size: 40px
    line-height: 50px
    text-align: center
    color: #252B42

.advices_desc
    padding: 0 100px
    margin-bottom: 76px

    font-family: 'OpenSans'
    font-weight: 400
    font-size: 14px
    line-height: 20px
    text-align: center
    color: #737373

.advices_list
    padding: 0 92px

.advice
    padding-top: 30px
    margin-bottom: 30px
    background-color: #FFFFFF

.advice_title 
    margin-left: 29px
    margin-bottom: 14px
    padding-right: 20px

    font-family: 'Martel'
    font-weight: 700
    font-size: 16px
    line-height: 24px
    letter-spacing: 0.1px
    color: #252B42

.advice_text 
    margin-left: 29px
    margin-bottom: 30px
    padding-right: 40px

    font-family: 'OpenSans'
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #737373

.advice_image
    width: 100%
