.footer_request-title 
    font-family: 'Martel'
    font-weight: 700
    font-size: 24px
    line-height: 32px
    letter-spacing: 0.1px
    color: #252B42

.footer_request-text 
    font-family: 'Open Sans'
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #737373

.footer_request-button 
    font-family: 'Open Sans'
    font-weight: 700
    font-size: 14px
    line-height: 28px
    text-align: center
    color: #FFFFFF