.footer_request
    padding: 0 90px
    padding-top: 10px
    margin-bottom: 40px
    
.footer_request-title 
    margin-bottom: 10px

    font-family: 'Martel'
    font-weight: 700
    font-size: 24px
    line-height: 32px
    letter-spacing: 0.1px
    color: #252B42

.footer_request-text 
    padding-right: 50px
    margin-bottom: 50px

    font-family: 'OpenSans'
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #737373

.footer_request-button 
    width: 100%
    padding: 15px 0
    background: #784F33
    border: none
    border-radius: 5px

    font-family: 'OpenSans'
    font-weight: 700
    font-size: 14px
    line-height: 28px
    text-align: center
    color: #FFFFFF

.footer_info
    padding-top: 56px
    padding-left: 88px
    padding-bottom: 26px
    background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%)

.footer_slogan
    margin-bottom: 50px

    font-family: 'OpenSans'
    font-weight: 700
    font-size: 14px
    line-height: 24px
    color: #737373