.info
    margin-bottom: 31px

.info_title 
    margin-bottom: 19px

    font-family: 'Martel'
    font-weight: 700
    font-size: 16px
    line-height: 24px
    letter-spacing: 0.1px
    color: #FFFFFF

.info_link 
    display: block
    margin-bottom: 10px

    font-family: 'OpenSans'
    font-weight: 600
    font-size: 14px
    line-height: 24px
    color: #FFFFFF
    cursor: pointer

    &:hover,
    &:focus
        opacity: 0.8

    &:active
        opacity: 0.6

.info_link--icon
    margin-bottom: 12px

.info_icon
    margin-right: 6px