.main-navbar_wrapper 
    display: flex
    justify-content: space-between

.main-navbar_brand 
    margin-left: 15px

    font-family: 'Martel'
    font-weight: 700
    font-size: 24px
    line-height: 32px
    letter-spacing: 0.1px

.main-navbar
    position: relative
    padding: 0 20px
    background-color: white

.main-navbar_wrapper
    padding: 36px 0

@media (min-width: 1440px)
    .main-navbar
        padding: 0
        padding-top: 43px
        padding-right: 59px
        margin-bottom: 30px
        display: flex
        position: relative
        justify-content: flex-end
        background-color: transparent

    .main-navbar_wrapper
        padding: 0
        order: 2

    .main-navbar_brand
        margin: 0
        position: absolute
        top: 35px
        left: 196px
