.main-nav
    margin-bottom: 40px
    padding: 44px 0
    
.main-nav_link 
    display: block
    padding: 15px 0

    font-family: 'OpenSans'
    font-weight: 400
    font-size: 30px
    line-height: 45px
    text-align: center
    color: #737373