.page-header_title {
    font-family: 'Martel';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.page-header_text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.page-header_button-get-quote,
.page-header_button-learn-more {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}

.page-header_button-get-quote {
    color: #FFFFFF;
}

.page-header_button-learn-more {
    color: #784F33;
}