.practice_title 
    font-family: 'Martel'
    font-weight: 700
    font-size: 40px
    line-height: 50px
    text-align: center
    color: #252B42

.practice_desc 
    font-family: 'Open Sans'
    font-weight: 400
    font-size: 14px
    line-height: 20px
    text-align: center
    color: #737373

.practice_text 
    font-family: 'Martel'
    font-weight: 700
    font-size: 16px
    line-height: 24px
    text-align: center
    letter-spacing: 0.1px
    color: #252B42